<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="bdlostConnectionString" connectionString="Data Source=tcp:bdlost.database.windows.net;Initial Catalog=bdlost;Persist Security Info=True;User ID=bdlostadmin;Password=harD@bi001" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=bamlistorage;AccountKey=bCayzS0DnblSBNPoOVids3QVHKA/5P3SQOwIhnvG2MyHsAmj/ugYO1OWYh3NpqmJkGXIWWINwK4krsztCndGEw==" />
  </appSettings>
</configuration>