
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-hover">


    @*<tr><td><a href="~/Manage/Stats">Statistics <span class="glyphicon glyphicon-dashboard"></span></a></td></tr>*@

    <tr>
        <td>
            <a href="~/Admin/Alerts">List of Alerts</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/Admin/Members">List of Members</a>
        </td>
    </tr>

</table>

