
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container">
    <div id="map">

    </div>
</div>
@Scripts.Render("~/bundles/position")
<script async defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYqM6BUsOsHcp5Ua0Zz2_4_lVEPH3girM&callback=initMap"></script>